.content{
    width: 100%;
    background: white;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 1px;
}
.content_top{
    font-size: 17px;
    margin-bottom: 15px;
}
.content_middle p{
    margin-bottom: 7px;
    width: 76%;
}
.content_bottom p{
    width: 80%;
}
.content_bottom p span{
    display: inline-block;
    width: 300px;
    margin-right: 100px;
    margin-bottom: 4px;
}
#emergency_div{
    font-size: 14px;
    width: 12px;
    height: 12px;
    display: inline-block;
    text-align: center;
    float: none;
    margin-bottom: -4px;
}

.emergency_div_5{
    background: url("../../../img/blue.jpg") repeat-x;
}
.emergency_div_4{
    background: url("../../../img/yellow.jpg") repeat-x;
}

.emergency_div_3{
    background: url("../../../img/orange.jpg") repeat-x;
}

.emergency_div_2{
    background: url("../../../img/red.jpg") repeat-x;
}

.emergency_div_1{
    background: url("../../../img/secret.jpg") repeat-x;
}
