
.content,.progress_content{
    width: auto;
    /*margin: 10px;*/
    padding: 0px 0px;
}
.content{
    margin-bottom: 0px;
}
.head_bread{
    width: auto;
    /*margin: 10px;*/
    margin-bottom: 20px;
    height:60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
    padding-left:30px;
}
.content_top,.progress_content .progress_content_top{
    line-height: 46px;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #cccccc;
    padding: 10px 15px;
    margin: 0px 15px;
}
.content_middle,.content_bottom,.progress_content_middle{
    padding: 15px 15px;
    font-size: 14px;
    line-height: 26px;
    border-bottom: 1px dashed #cccccc;
    margin: 0px 15px;
}
.content_middle p,.content_bottom p,.progress_content_middle p{
    margin-bottom: 10px;
}
.progress_content{
    position:relative;
    top: -25px !important;
    width:auto !important;
    padding-left: 5px !important;
    margin-top: 0px;
}
.progress_content_middle{
    border-bottom: none;
    margin-bottom: 10px;
}
.progress_content_btn{

}
.progress_content_btn {
    --background: #275efe;
    --text: #fff;
    --font-size: 16px;
    --duration: .5s;
    --move-hover: -4px;
    --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
    --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
    padding: 0px 30px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: var(--font-size);
    letter-spacing: .5px;
    background: var(--background);
    color: var(--text);
    box-shadow: var(--shadow);
    -webkit-transform: translateY(var(--y));
    transform: translateY(var(--y));
    transition: box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
    transition: transform var(--duration) ease, box-shadow var(--duration) ease;
    transition: transform var(--duration) ease, box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    margin: 40px 0px 40px 34px !important;
}
.progress_content_btn:hover {
    --y: var(--move-hover);
    --shadow: var(--shadow-hover);
    --move: -4px;
    --shadow-active: 0 3px 1px rgba(0, 0, 0, .2);
}
