.progress_content{
    width: 100%;
    background: white;
    padding-left: 15px;
}
.progress_content_top{
    font-size: 17px;
    position: relative;
    top: -10px;
}
.progress_content_middle{
    width: 1500px;
}
.progress_content_middle_left{
    float: left;
}
.progress_content_middle_right{
    float: left;
    padding-left: 15px;

}
.progress_content_middle_right_inside{
    float: left;
    margin-right: 15px;
}
.clearfix{
    clear: both;
}
.progress_content_btn{
    margin: 20px 20px;
    font-weight: bold;
}
.progress_content_cancelBtn{
    background: #a6a6a6;
    color: white;
    font-weight: bold;
    margin: 20px 20px;
}
