.head_bread{
    font-size: 18px;
    margin: 17px 20px 15px 30px;
    background-color: white;
}
.content{
    background-color: white;
}
.bt1{
    height: 40px !important;
    border-radius: 8px;
    padding: 0px 40px 0px 40px;
    margin: 0px 0px -20px 0px;
}
#input1{
    width: 604px;
    height: 42px;
    border-radius: 8px;
    border:1px solid #cbcbcb;
    margin: 20px 20px 0px 0px;
}
#input{
    width: 804px;
    height: 42px;
    border-radius: 8px;
    border:1px solid #cbcbcb;
    margin: 0px 22px 0px 0px;
}
#title{
    font-size: 20px;
    font-weight: bold;
    margin: 42px 0px 0px 32px;
}
#name{
    font-size: 14px;
    margin: 14px 0px 34px 32px;
}
#text{
    font-size: 14px;
    margin: 0px 0px 34px 32px;
}
#button{
    height: 40px !important;
    border-radius: 8px;
    padding: 0px 30px 0px 30px;
    margin: 0px 15px 0px 0px;
}
#button1{
    height: 40px !important;
    border-radius: 8px;
    padding: 0px 30px 0px 30px;
    margin: -20px 0px 0px 530px;
}
.commenter{
    padding: 0px 0px 0px 32px;
    margin: -4px 0px 20px 0px;
}
.commenttime{
    margin-top: -12px;
    padding: 0px 0px 0px 32px;
}
#button1{
    height: 40px !important;
    border-radius: 8px;
    padding: 0px 30px 0px 30px;
}
#link{
    color: #555555;
}
.comment{
    width: 815px;
}
.reply{
    margin:12px 0px 0px 32px;
    width: 815px;
    background-color:#f7f7f7;
}

.fcomment{
    width: 800px;
}
.fcommenter{
    padding: 0px 20px 0px 20px;
    margin: 0px 0px 20px 0px;
}
.fcommenttime{
    padding: 0px 20px 0px 20px;
    margin-top: -12px;
}
#flink{
    color: #555555;
}